/* section 2 left */

.section__2__left{
    background-color: #2bb3b1;
    color: $color-section2;
    padding: 7% 5% 5% 7%;
    border-radius: 0 0 0 3%;

    &--h5{
        color: $color-section2;
        letter-spacing: 1px;
        margin-bottom: 7%;
        font-weight: bold;
    }

    &--p1{
        font-size: 220%;
        font-weight: bolder;
        display: inline;
        margin-bottom: 5%;
    }

    &--p2{
        opacity: 0.5;
        font-size: 90%;
        font-weight: normal;
        margin-left: 4%;
        display: inline;
        position: relative;
        bottom: 4%;
    }

    &--p3{
        opacity: 0.8;
        margin-top: 3%;
    }
}


/* section 2 right */

.section__2__right{
    color: #dfffff;
    background-color: #4abebd;
    padding: 5%;
    border-radius: 0 0 3% 0;

    &__h5{
        letter-spacing: 1px;
        margin: 5%;
        font-weight: bold;
    }

    &__p{
        padding: 5% 0 0 5%;
        opacity: 0.8;
        line-height: 150%;
    }
}
